@font-face {
  font-family: "AktivGrotesk-m";
  src: url("fonts/AktivGroteskCorp-Medium.eot");
  src: local("fonts/AktivGroteskCorp-Medium"),
    url("fonts/AktivGroteskCorp-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/AktivGroteskCorp-Medium.woff2") format("woff2"),
    url("fonts/AktivGroteskCorp-Medium.woff") format("woff"),
    url("fonts/AktivGroteskCorp-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "aktiv-grotesk";
  src: url("https://use.typekit.net/af/28158e/00000000000000003b9b4066/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/28158e/00000000000000003b9b4066/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/28158e/00000000000000003b9b4066/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "AktivGrotesk-b";
  src: url("fonts/AktivGroteskCorp-Bold.eot");
  src: local("fonts/AktivGroteskCorp-Bold"),
    url("fonts/AktivGroteskCorp-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/AktivGroteskCorp-Bold.woff2") format("woff2"),
    url("fonts/AktivGroteskCorp-Bold.woff") format("woff"),
    url("fonts/AktivGroteskCorp-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "AktivGrotesk-italic";
  src: url("fonts/AktivGroteskCorp-Italic.eot");
  src: local("fonts/AktivGroteskCorp-Italic"),
    url("fonts/AktivGroteskCorp-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/AktivGroteskCorp-Italic.woff2") format("woff2"),
    url("fonts/AktivGroteskCorp-Italic.woff") format("woff"),
    url("fonts/AktivGroteskCorp-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "AktivGrotesk-light-italic";
  src: url("fonts/AktivGroteskCorp-LightItalic.eot");
  src: local("fonts/AktivGroteskCorp-LightItalic"),
    url("fonts/AktivGroteskCorp-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/AktivGroteskCorp-LightItalic.woff2") format("woff2"),
    url("fonts/AktivGroteskCorp-LightItalic.woff") format("woff"),
    url("fonts/AktivGroteskCorp-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "AktivGrotesk-medium-italic";
  src: url("fonts/AktivGroteskCorp-MediumItalic.eot");
  src: local("fonts/AktivGroteskCorp-MediumItalic"),
    url("fonts/AktivGroteskCorp-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/AktivGroteskCorp-MediumItalic.woff2") format("woff2"),
    url("fonts/AktivGroteskCorp-MediumItalic.woff") format("woff"),
    url("fonts/AktivGroteskCorp-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "AktivGrotesk-l";
  src: url("fonts/AktivGroteskCorp-Light.eot");
  src: local("fonts/AktivGroteskCorp-Light"),
    url("fonts/AktivGroteskCorp-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/AktivGroteskCorp-Light.woff2") format("woff2"),
    url("fonts/AktivGroteskCorp-Light.woff") format("woff"),
    url("fonts/AktivGroteskCorp-Light.ttf") format("truetype");
}

@font-face {
  font-family: "AktivGrotesk-r";
  src: url("fonts/AktivGroteskCorp-Regular.eot");
  src: local("fonts/AktivGroteskCorp-Regular"),
    url("fonts/AktivGroteskCorp-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/AktivGroteskCorp-Regular.woff2") format("woff2"),
    url("fonts/AktivGroteskCorp-Regular.woff") format("woff"),
    url("fonts/AktivGroteskCorp-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "AktivGrotesk-bold-italic";
  src: url("fonts/AktivGroteskCorp-BoldItalic.eot");
  src: local("fonts/AktivGroteskCorp-BoldItalic"),
    url("fonts/AktivGroteskCorp-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/AktivGroteskCorp-BoldItalic.woff2") format("woff2"),
    url("fonts/AktivGroteskCorp-BoldItalic.woff") format("woff"),
    url("fonts/AktivGroteskCorp-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "aktiv-grotesk-extended";
  src: url("https://use.typekit.net/af/e10446/00000000000000003b9ad13a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/e10446/00000000000000003b9ad13a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/e10446/00000000000000003b9ad13a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "aktiv-grotesk", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

/* HERO COMPOENTN */
.hero-component {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  text-align: center;
  padding: 0 5%;
}
.hero-component img {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  filter: brightness(60%);
  height: 100%;
  object-fit: cover;
}
.hero-component h1 {
  color: #fff;
  font-family: "aktiv-grotesk-extended";
  z-index: 1;
  font-weight: 700;
  line-height: 38px;
  font-size: 28px;
}
@media (min-width: 576px) {
  .hero-component h1 {
    width: 514px;
    font-size: 36px;
    line-height: 44px;
  }
}

@media (min-width: 768px) {
  .hero-component h1 {
    width: 668px;
  }
}

@media (min-width: 992px) {
  .hero-component {
    height: 698px;
  }
  .hero-component h1 {
    width: 768px;
    font-size: 48px;
    line-height: 58px;
  }
}
/* END OF HERO COMPOENTN */
